extends layout

block content
  h1= title
  p Welcome to #{title}

  // Wrapper
  #wrapper

    // USER LIST
    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody
    //  /USER LIST
  
// /WRAPPER
